<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.zjwfan.simplestock"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- @style/Theme.AppCompat.Light.NoActionBar -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity"/>
        </activity>
        <activity android:name=".activities.FileExplorerActivity">
        </activity>

        <!-- 声明widget对应的AppWidgetProvider -->
        <receiver android:name=".recivers.AppWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.zjwfan.widget.UPDATE_ALL"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/launcher_widget_info" />
        </receiver>

        <service android:name=".services.AppWidgetService" >
            <intent-filter>
                <action android:name="android.appwidget.action.EXAMPLE_APP_WIDGET_SERVICE" />
            </intent-filter>
        </service>

        <service android:name=".services.ListviewWidgetService" android:exported="false"
                 android:permission="android.permission.BIND_REMOTEVIEWS">
        </service>

        <service
            android:name=".services.StockService"
            android:enabled="true"
            android:exported="true">
        </service>

        <receiver
            android:name=".recivers.AmStockAlarmReciver"
            android:enabled="true"
            android:exported="true">
        </receiver>
        <receiver
            android:name=".recivers.PmStockAlarmReciver"
            android:enabled="true"
            android:exported="true">
        </receiver>
        <receiver
            android:name=".recivers.AlarmReceiver"
            android:enabled="true"
            android:exported="true">
        </receiver>
    </application>

</manifest>